/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #1e1e1e;
    color: #d4d4d4;
    line-height: 1.6;
    padding: 20px;
}

/* Header */
h1 {
    text-align: center;
    color: #61dafb;
    margin-bottom: 20px;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #252526;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

thead th {
    background-color: #007acc;
    color: white;
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
}

tbody td {
    padding: 15px;
    text-align: center;
}

/* Article Styling */
article {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

article:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

/* Header in Article */
article header img {
    width: 50%;
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 5px;;
}

/* Figure Styling */
article div {
    margin: 20px 0;
}

article div img {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

article div p {
    margin-top: 10px;
    font-size: 1rem;
    color: #61dafb;
}

/* Paragraph */
article p {
    font-size: 1.1rem;
    margin-top: 10px;
    text-align: center;
}

/* Link Styling */
a {
    text-decoration: none;
    color: #61dafb;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #ffffff;
}

/* Responsive Design */
@media (max-width: 768px) {
    table {
        width: 90%;
    }

    article {
        padding: 15px;
    }

    article p {
        font-size: 1rem;
    }
}
